.demo-carousel-slide-1,
.demo-carousel-slide-2 {
  width: 100%;
  height: 300px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.demo-carousel-slide-1 {
  background-image: url(../mocks/kurse_01.jpg);

}

.demo-carousel-slide-2 {
  background-image: url(../mocks/kurse_02.jpg);
}