
@import url("/css/bootstrap/bootstrap.min.css");

.firstvisit_hidden { display: none; }
.firstvisit_nopad_left { padding-left:0 !important; }  /* h3 in table */
.firstvisit_nopad_horiz { padding-left:0px;padding-right:0px; }  /* h3 in table */
.firstvisit_pad_05 { padding: .5em; }

.firstvisit_table_border_bottom { border-bottom: 1px solid #ebebeb; }
.firstvisit_icon_mobile {
    display: block;
    background: transparent url(/media/global_layout/img/icons/ic_alerting_mobile_on.png) no-repeat center center;
    background-size:40px 40px;
    width: 20px;
    height: 20px;
}
.firstvisit_marg_top_1 {
    margin-top: 1em;
}
.firstvisit_nomobile_hinweis { padding:1em; background-color: #ebebeb; text-align:center; vertical-align:middle; height:3em; }

.modal-header {
    background-color: #ddd;
    color: #000;
}
button.bo_close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0;
    border: 0;
}
.bo_close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: .9;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .8;
}