<div ng-controller="FinanzuebersichtController">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
                            <i class="glyphicon glyphicon-user"></i>
                            <span ng-bind="finanzuebersichtModel.customers[0].name"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="customer in finanzuebersichtModel.customers">
                                <a href="#" ng-bind="customer.name"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-controller="subcontroller" class="col-sm-6 text-right">
                    <p>Letzter Login: 24.08.2015 17:35</p>
                    <a href="javascript:alert('To do!')">10 ungelesene Nachrichten</a>
                </div>
            </div>
        </div>
    </div>

    <div ng-include src="'/page/carousel.tpl.html'"></div>


    <!--
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body" dab-bestprice-directive></div>
            </div>
        </div>
    </div>
-->

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div accordion close-others="true">
                        <div accordion-group heading="Depot">
                            This content is straight in the template.
                        </div>

                        <div accordion-group is-open="status.open" ng-repeat="account in module3Model.customers[currentCustomer].accounts" style="cursor:pointer;">
                            <div accordion-heading>

                                <div class="row">
                                    <div class="col-md-6 col-xs-6" >
                                        <div class="row">
                                            <span class="col-md-6 col-xs-12" ng-bind="account.accountNo"></span>
                                            <span class="col-md-6 col-xs-12" ng-bind="account.productName"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6 text-right" >
                                        <div class="row">
                                            <div class="col-md-10 col-xs-12" ng-bind="(account.balance | number:2) + ' ' + account.currency"></div>
                                            <div class="col-md-2 col-xs-12 float-right">
                                                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>The body of the accordion group grows to fit the contents</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>