body {
  -webkit-font-smoothing: antialiased;
  color: #666;
}

input {
  &:focus {
    background: $demoColorInputFocusBackground;
  }
}

.demo-btn--right {
  text-align: right;
}


.panel-body {
  padding: 15px 25px;
}